.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.important-header {
  margin-top: 60px;
  font-size: 100px;
  padding: 0;
}

.with-emphasis {
  font-size: 300px;
  display: block;
}

.data-list-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.data-list-container > div:first-child {
  margin-right: 20px;
}

.data-list {
  list-style-type: none;
  padding: 0;
  textalign: right;
}

.data-list li {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #000;
}

.data-list li:last-child {
  border: none;
}

@media only screen and (max-width: 800px) {
  .important-header {
    font-size: 60px;
    margin-top: 0;
  }

  .breakable {
    display: block;
  }

  .with-emphasis {
    font-size: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .important-header {
    font-size: 60px;
    margin-top: 0;
  }

  .breakable {
    display: block;
  }

  .with-emphasis {
    font-size: 200px;
  }

  .data-list-container {
    flex-direction: column-reverse;
  }

  .data-list-container > div:first-child {
    margin-right: 0;
  }
}

@media only screen and (max-width: 300px) {
  .important-header {
    font-size: 40px;
    margin-top: 0;
  }

  .breakable {
    display: block;
  }

  .with-emphasis {
    font-size: 200px;
  }

  .data-list-container {
    flex-direction: column-reverse;
  }

  .data-list-container > div:first-child {
    margin-right: 0;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
